{% extends 'base.html' %} {% block content %}

<header class="header">
  <h1>Sempre Perto</h1>
</header>

<main class="main-container">
  <div class="hero-container">
    <section class="hero-content">
      <h2>Qual o objetivo do projeto?</h2>

      <p>
        Promover um espaço de acompanhamento e acolhimento emocional,
        comunicação e fortalecimento entre mães e filhos.
      </p>

      <p>
        Este projeto foi desenvolvido para o Hackathon de Dia das Mães do
        Servidor dos Programadores! Espero que gostem!
      </p>
    </section>
  </div>

  <div class="action-container">
    <section class="login-card">
      <a class="button" href="/signin">Entrar</a>
    </section>
  </div>
</main>

{% endblock %}
